:root {
  --bg-black: rgb(0, 0, 0);
  --bg-purple: rgb(80, 0, 80);
}
*{box-sizing: border-box;}

body {
  background-color: var(--bg-black);
  height: 100vh;
  margin: 0;
  padding:0;
}
.panel {
  align-items: center;
  background-color: var(--bg-purple);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container {
  align-items: center;
  background-color: var(--bg-purple);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  position: relative;
  width: 80vw;
}

.project {
  background-color: white;
  height: 18em;
  width: 10em;
}

.project1 {
  left: 0;
  position: absolute;
  top: 0;
}

.project3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-purple {
  background-color: var(--bg-purple);
}
