:root {
  --bg-black: rgb(0, 0, 0);
  --bg-purple: rgb(80, 0, 80);
}
*{box-sizing: border-box;}

body {
  background-color: var(--bg-black);
  height: 100vh;
  margin: 0;
  padding:0;
}
.panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  position: relative;
  width: 50vw;
}

.container > img {
  width: 100%;
}

.image-caption {
  border-radius: .25rem;
  color: var(--bg-purple);
  font-size: 1.5em;
  margin-top: 30px;
  text-shadow: 0 0 4px silver, 0 0 20px silver, 0 0 30px silver;
}

.project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  position: relative;
  width: 80vw;
}

.project > img {
  height: 100%;
  width: 100%;
}

.project {
  background-color: white;
  height: 18em;
  width: 12em;
}

.project1 {
  left: 0;
  position: absolute;
  top: 0;
}

.project3 {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-purple {
  background-color: var(--bg-purple);
}
